# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
do_not_commit.py

# Ignore outputs folder
outputs/

# Ignore Spotify credentials
src/key_assignment/spotify_credentials.py
.cache
src/key_assignment/mistral_credentials.py
